<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Servicios</title>
    <link rel="icon" href="./static/img/favicon.ico">
    <link rel="stylesheet" href="../static/servicios.css">
</head>

<body>
    <nav>
      <img src="../static/img/icon.png" alt="logo" class="logo">
        <ul>
          <li><a href="../index.html">Inicio/Quienes somos</a></li>
          <li><a href="./servicios.html">Servicios</a></li>
          <li><a href="./flota.html">Nuestra flota</a></li>
          <li><a href="./formulario.html">Formulario de contacto</a></li>
        </ul>
      </nav>

      <div class="titulo">
        <h1>Nuestros Servicios</h1>
      </div>

      
        <h2 class="titulo-1">
          Contamos con logistica especializada para cualquier tipo de transporte!
        </h2>
          <div class="img-container">
            <img src="../static/img/camion acoplado.webp" alt="camion acoplado">
            <img src="../static/img/cisterna.jpg" alt="camion cisterna">
            <img src="../static/img/avion carga.jpg" alt="avion de carga" >
            <img src="../static/img/barco.jpg" alt="barco de carga">
        </div>
    
    <!-- iframe google maps /uso id -->
    <div id="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7811.137637814256!2d-58.36159461748099!3d-34.59963947022864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334d9c2d70389%3A0xe7b5e9ee316678f!2sPuerto%20Madero%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1714779870751!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- tablas precios inventados -->
    <div>
      <h1>Precios estimados 2024</h1>
      <table>
        <thead>
            <tr>
                <th>LOGISTICA</th>
                <th>NACIONAL</th>
                <th>INTERNACIONAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CAMION</td>
                <td>$USD15 x km</td>
                <td>$USD15 x km</td>
            </tr>
            <tr>
                <td>AVION</td>
                <td>$USD 29 x km</td>
                <td>$USD 36 x km</td>
            </tr>
            <tr>
              <td>BARCO</td>
              <td>$USD 27 x km</td>
              <td>$USD 32 x km</td>
          </tr>
        </tbody>
    </table>
    <h4>*precios aproximados con una capacidad maxima de 10 toneladas por envío</h4>
    </div>
    <div >
      <iframe width="853" height="480" src="https://www.youtube.com/embed/KEFt2quibkg" title="Logistics Intro Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video"></iframe>
    </div>
</body>
<footer class="footer">
    <p>
      Grupo 12, año 2024, Codo a codo®
    </p>
</footer>
</html>